.profilePic{
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}
.name{
    font-size: x-large;
    font-weight: bolder;
}
.postHeader{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid transparent; */
}
.closePost{
    border-radius: 50%;
    width: .1rem;
    background-color: transparent;
    text-align: center;
}