.settingsContainer {
  background: linear-gradient(135deg, #F4F5FC, #E3E6F3); 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem 1rem;
  max-width: 400px;
  margin: 8rem auto;
  background-color: #ffffff;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.settingsContainer h3 {
  color: #374151;
  margin-top:0;
  margin-bottom: 1rem;
  color: #444;
  font-size: 1.8rem;
  font-weight: 600;
  
}


.settingsContainer div {
  background-color: #6579B1;
  width: 100%;
  padding: 0.75rem 1rem;
  /* background-color: #f4f4f4; */
  border-radius: 8px;
  font-size: 1.1rem;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.settingsContainer div:hover {
   background-color: #4B5D89;
  /* background-color: #6c63ff; */
  color: white;
  font-weight: bold;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.changeBtn,
.closeBtn {
  background: #6a0dad;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  border-radius: 6px;
  font-size: 0.95rem;
  margin-top: 1rem;
  transition: background 0.3s ease;
}

.closeBtn {
  background: #ff4d4d;
}

.changeBtn:hover {
  background: #5820a8;
}

.closeBtn:hover {
  background: #e60000;
}