.img{
    border-radius: 50%;
}
.postContainer{
    /* border: .2rem solid rgb(184, 179, 179); */
    width: 36rem;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 36px 4px rgba(0,0,0,.18);
}