.notificationContainer{
    list-style-type: none;
    /* background-color: rgb(74, 98, 198); */
     background-color: rgb(67, 67, 119);
    border-radius: 2rem;
    max-width: 280px; 
    padding: .5rem;
    /* position: absolute; */
    top:100%;
    right: 0;
}
.notification{
    /* margin: 1em ; */
    padding: .5rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    /* justify-content: space-between; */
}
.notification:hover{
    background-color: rgb(106, 109, 112);
    cursor: pointer;
}
.img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
}