.form{
    display: flex;
    flex-direction: column;
    width: 12rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: .1rem solid grey;
    border-radius: 1rem;
}
.form > *{
    margin: .4rem;
}